/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define MEDIA 1
#define NAV 2
#define MOUSE 3
#define SYM 4
#define NUM 5
#define FUN 6

&lt {
    flavor = "balanced";
    quick_tap_ms = <100>;
    tapping-term-ms = <200>;
    retro-tap;
};

//   &none               &none               &none               &none               &none               &none             /*&none               &none*/             &none               &none               &none               &none               &none               &none
//   &none               &none               &none               &none               &none               &none             /*&none               &none*/             &none               &none               &none               &none               &none               &none
//   &none               &none               &none               &none               &none               &none             /*&none               &none*/             &none               &none               &none               &none               &none               &none
//   &none               &none               &none               &none               &none               &none               &none               &none               &none               &none               &none               &none               &none               &none
// /*&none               &none               &none*/             &none               &none               &none               &none               &none               &none               &none               &none             /*&none               &none               &none*/

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
  &none &none       &none      &none       &none         &none     /*&             &*/           &none         &none       &none       &none      &none          &none
  &none &kp Q       &kp W      &kp E       &kp R         &kp T     /*&             &*/           &kp Y         &kp U       &kp I       &kp O      &kp P          &none
  &none &mt LMETA A &mt LALT S &mt LCTRL D &mt LSHFT F   &kp G     /*&             &*/           &kp M         &mt LSHFT J &mt LCTRL K &mt LALT L &mt LMETA SEMI &none
  &none &kp Z       &kp X      &kp C       &kp V         &kp B       &none         &none         &kp N         &kp M       &kp COMMA   &kp DOT    &kp FSLH       &none
// /*&     &           &*/        &none       &lt MEDIA ESC &lt NAV TAB &lt MOUSE RET &lt SYM SPACE &lt NUM BSPC  &mo FUN     &none     /*&          &              &*/
                               &none       &none         &none       &none         &none         &none         &none       &none
        };
};
